aiobotocore==2.13.0
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
anndata==0.10.7
array_api_compat==1.7.1
asttokens
async-timeout==4.0.3
attrs==23.2.0
botocore==1.34.106
Brotli
cellxgene-census==1.14.1
certifi
charset-normalizer
comm
contourpy==1.2.1
cycler==0.12.1
debugpy
decorator
entrypoints
exceptiongroup
executing
filelock
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.6.0
gmpy2
gseapy==1.1.3
h5py==3.11.0
idna
igraph==0.11.5
ipykernel
ipython
jedi
Jinja2
jmespath==1.0.1
joblib==1.4.2
jupyter-client
jupyter_core
kiwisolver==1.4.5
legacy-api-wrap==1.4
llvmlite==0.42.0
louvain==0.8.2
MarkupSafe
matplotlib==3.9.0
matplotlib-inline
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
multidict==6.0.5
natsort==8.4.0
nest_asyncio
networkx
numba==0.59.1
numpy
obonet==1.0.0
packaging==24.0
pandas==2.2.2
parso
patsy==0.5.6
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure-eval
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyg-lib==0.4.0+pt23cu121
Pygments
pynndescent==0.5.12
pyparsing==3.1.2
PySocks
python-dateutil
pytz==2024.1
PyYAML
pyzmq
requests
s3fs==2024.6.0
sc_target_evidence_utils
scanpy==1.10.1
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
session_info==1.0.0
six
somacore==1.0.11
stack-data
statsmodels==0.14.2
stdlib-list==0.10.0
sympy
texttable==1.7.0
threadpoolctl==3.5.0
tiledb==0.29.0
tiledbsoma==1.11.4
torch==2.3.1
torch_cluster==1.6.3+pt23cu121
torch_geometric==2.5.3
torch_scatter==2.1.2+pt23cu121
torch_sparse==0.6.18
torch_spline_conv==1.2.2+pt23cu121
torchaudio==2.3.1
torchvision==0.18.1
tornado
tqdm==4.66.4
traitlets
triton==2.3.1
typing_extensions
tzdata==2024.1
umap-learn==0.5.6
UpSetPlot==0.9.0
urllib3
wcwidth
wrapt==1.16.0
yarl==1.9.4
